<h1>Información de la cerveza</h1>
<hr>
<div class="row text-right" style="position: relative;right: 9vw">
    <div class="col">
        <button class="btn btn-outline-danger" routerLink="/home">
            <i class="fa fa-arrow-left"></i>
            Volver
        </button>
    </div>
</div>

<div class="card bg-light mb-3" style="max-width: 40rem;margin:auto;top:11vh">
    <div class="card-body">
      <h5 class="card-title">{{cerveza.nombre}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>