<h1>Nombre de la Cerveza</h1>
<hr>
<div class="row text-right" style="position: relative;right: 9vw">
    <div class="col">
        <button class="btn btn-outline-danger" routerLink="/home">
            <i class="fa fa-arrow-left"></i>
            Volver
        </button>
    </div>
</div>

<div>
    <div class="col-6"style="margin:auto">
        <form action="" (ngSubmit)="guardar(f)" #f="ngForm">
            <div class="form-group">
                <label for="">Id Firebase</label>
                <input type="text" class="form-control" disabled="disabled"  name="id"[(ngModel)]="cerveza.id"placeholder="Esto se genera solo">
            </div>
            <div class="form-group">
                <label for="">Nombre</label>
                <input type="text" class="form-control" placeholder="Ingrese nombre" name="nombre"[(ngModel)]="cerveza.nombre"required>
                
            </div>
            <div class="form-group">
                <label for="">Tipo</label>
                <input type="text" class="form-control" placeholder="Ingrese tipo"name="tipo"[(ngModel)]="cerveza.tipo"required>
            </div>
            <div class="form-group">
                <label for="">Descripción</label>
                <input type="text" class="form-control" placeholder="Ingrese descripción"name="descripcion"[(ngModel)]="cerveza.descripcion"required>
            </div>
            <div class="form-group">
                <label for="">Graduacion alcoholica</label>
                <input type="text" class="form-control" placeholder="Ingrese porcentaje de alcohol"name="porcentaje"[(ngModel)]="cerveza.porcentaje"required>
            </div>


            <div class="form-group" style="margin:auto;text-align: center;">
                <button type="submit" class="btn btn-outline-success w-25">
                    <i class="fa fa-save"></i>
                    Cargar
                </button>
            </div>
        </form>
    </div>

</div>